<div class="home">
  <h2>{{ title }}</h2>
  <pre>
      先新建一个Home目录放一个component，目录下要有 home.component.ts先新建一个Home目录放一个component，目录下要有 home.component.ts先新建一个Home目录放一个component，目录下要有 home.component.ts先新建一个Home目录放一个component，目录下要有 home.component.ts先新建一个Home目录放一个component，目录下要有 home.component.ts先新建一个Home目录放一个component，目录下要有 home.component.ts先新建一个Home目录放一个component，目录下要有 home.component.ts先新建一个Home目录放一个component，目录下要有 home.component.ts先新建一个Home目录放一个component，目录下要有 home.component.ts
    </pre>
  <h4>先新建一个Home目录放一个component，目录下要有 home.component.ts</h4>
 <div [innerHTML]="content"></div>
</div>