<div id="content">
<nav class="nav">
  <img class="homepage-left-img" src="https://o4j806krb.qnssl.com/public/images/cnodejs_light.svg"/>
  <a  *ngIf="user.loginname" [routerLink]="['/user/'+user.loginname]" >
    <img class="homepage-right-img" src="../assets/account.png"/>
  </a>
  <a  *ngIf="!user.loginname" [routerLink]="['/login']" >
    <img class="homepage-right-img" src="../assets/account.png"/>
  </a>
</nav>
<ul id="list">
    <li *ngFor="let item of list">
      <a [routerLink]="['/user/'+item.author.loginname]">
           <img [src]="item.author.avatar_url"/>    
      </a>
      <a [routerLink]="['/detail/'+item.id]">
        <div class="list-item">
          <p>{{ item.title }}</p>
            <h5>{{ transTimeFunc(item.create_at) }}</h5> 
        </div>
      </a>
    </li>
</ul>
  <div class="more-center">
      <loading [loadingOpt] = "loadingOpt"></loading> 
  </div> 
<footer class="footer">
   <ul id="footer-list">
    <li key='all' (click)="handleTab('all')" [ngClass]="{active: activeClass==='all'}">
        全部
    </li>
    <li key='good' (click)="handleTab('good')"  [ngClass]="{active: activeClass==='good'}">
        精华
    </li>
    <li key='share' (click)="handleTab('share')"  [ngClass]="{active: activeClass==='share'}">
        分享
    </li>
    <li key='ask' (click)="handleTab('ask')"  [ngClass]="{active: activeClass==='ask'}">
        问答
    </li>
    <li key='job' (click)="handleTab('job')"  [ngClass]="{active: activeClass==='job'}">
        招聘 
    </li>
  </ul> 
</footer>
</div>