<div>
    <nav class="nav">
        <img class="btn-back" src="../../../assets/back.png" (click)="handleBack()"/>
        <div class="nav-text">{{ loginname }}</div>
        <img *ngIf="user.loginname == loginname" class="nav-img" src="../../../assets/exit.png" (click)="handleExit()"/>
        <img *ngIf="user.loginname != loginname" class="nav-img" src="../../../assets/write.png" (click)="handlePublish()"/>
    </nav>
    <div *ngIf="create_at" id="user">
        <li>
            <div>
                <img [src]="avatar_url"/>
                <button *ngIf="user.loginname == loginname" class="login-btn" (click)="handlePublish()">发表</button> 
            </div>
            <div class="list-item">
                <p>{{ loginname }}</p>
                <h5>作者：{{ loginname }} 时间：{{ transTimeFunc(create_at) }}</h5>
                <h5>分数：{{ score }}</h5>
            </div>
        </li>
        <h3 class="user-topic-list">最近创建的话题</h3>
            <recentTopics [replies]="recent_topics"></recentTopics>    
        <h3 class="user-topic-list">最近参与的话题</h3>
            <recentTopics [replies]="recent_replies"></recentTopics>     
    </div> 
    <div *ngIf="!create_at" class="content-center">
        <loading [loadingOpt] = "loadingOpt"></loading> 
    </div> 
</div>